$white: #ffffff;
$success: #5ec232;
$info: #3e80ed;
$warning: #fdce3e;
$danger: #f5583e;
$dark: #303030;
$primary: #f78f20;
$gray: #ebebeb;
$blue: #2f80c2;
$secondary: #91969c;

$light-contrast: $dark;

$border-radius-sm: 3px;
$border-radius-md: 4px;
$border-radius-lg: 5px;
$border-radius-xl: 6px;

%button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color, color, border 0.2s;
  user-select: none;
  width: 100%;

  &:hover,
  &:active,
  &:focus {
    background-image: none;
    text-decoration: none;
    color: $white;
    outline: none;
    box-shadow: none;
  }

  &.disabled,
  &[disabled] {
    opacity: 0.6;
    pointer-events: none;
    touch-action: none;
    -ms-touch-action: none;
    cursor: default;
  }
}

.mbz-btn {
  @extend %button;
  border-radius: $border-radius-sm;
  background-image: none;
  border: 2px solid;
  padding: 7px 14px;
  font-size: 15px;
  line-height: 1.54;
  color: $white;
  // background-color: transparent;
  border-color: transparent;

  &.mbz-btn-light {
    color: $light-contrast;
    background-color: rgba(0, 0, 0, 0.15);
    border-color: transparent;

    &:hover {
      color: #434343;
      background-color: rgba(0, 0, 0, 0.12);
    }
  }

  &.mbz-btn-success {
    background-color: $success;
    border-color: $success;

    &:hover {
      background-color: #64c738;
      border-color: #64c738;
    }
  }

  &.mbz-btn-info {
    background-color: $info;
    border-color: $info;

    &:hover {
      background-color: #3e8ced;
      border-color: #3e8ced;
    }
  }

  &.mbz-btn-warning {
    background-color: $warning;
    border-color: $warning;

    &:hover {
      background-color: #fddb3e;
      border-color: #fddb3e;
    }
  }

  &.mbz-btn-danger {
    background-color: $danger;
    border-color: $danger;

    &:hover {
      background-color: #fc5a40;
      border-color: #fc5a40;
    }
  }

  &.mbz-btn-dark {
    background-color: $dark;
    border-color: $dark;

    &:hover {
      background-color: #434343;
      border-color: #434343;
    }
  }

  &.mbz-btn-primary {
    background-color: $primary;
    border-color: $primary;
    color: $white;

    &:hover {
      background-color: #f79e20;
      border-color: #f79e20;
    }
  }

  &.mbz-btn-gray {
    background-color: $gray;
    border-color: $gray;
    color: #373737;

    &:hover {
      background-color: #efefef;
      border-color: #efefef;
    }
  }

  &.mbz-btn-blue {
    background-color: $blue;
    border-color: $blue;
    color: $white;

    &:hover {
      background-color: #4a83c1;
      border-color: #4a83c1;
      opacity: 0.9;
    }
  }

  &.mbz-btn-transparent {
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.2);
    color: #656565;

    &:hover {
      //background-image: #ededed;
      background-color: #ededed;
      opacity: 0.9;
    }
  }

  &.mbz-btn-secondary {
    background-color: $secondary;
    border-color: $secondary;

    &:hover {
      background-color: #999ea4;
      border-color: #999ea4;
    }
  }

  &.mbz-btn-table,
  &.mbz-btn-table.k-button {
    width: 30px;
    height: 30px;
    padding: 4px;
    margin-right: 5px;

    i {
      margin-right: 0;
      vertical-align: text-top;
    }
  }
}

.mbz-btn-alt {
  @extend %button;
  border-radius: $border-radius-sm;
  border: 2px solid;
  padding: 7px 14px;
  font-size: 15px;
  line-height: 1.54;
  background-color: transparent;
  color: $primary;
  border-color: transparent;

  i {
    &.fa-times-circle {
      font-size: 15px;
      color: $primary;
    }
  }

  &.mbz-btn-light {
    color: $light-contrast;
    border-color: rgba(0, 0, 0, 0.15);

    &:hover {
      color: #434343;
      border-color: rgba(0, 0, 0, 0.12);
    }
  }

  &.mbz-btn-success {
    color: $success;
    border-color: $success;

    &:hover,
    &:active,
    &:focus {
      color: #64c738;
      border-color: #64c738;
    }
  }

  &.mbz-btn-primary {
    color: $primary;
    border-color: $primary;

    &:hover {
      color: #f79e20;
      border-color: #f79e20;
    }
  }

  &.mbz-btn-info {
    color: $info;
    border-color: $info;

    &:hover,
    &:active,
    &:focus {
      color: #3e8ced;
      border-color: #3e8ced;
    }
  }

  &.mbz-btn-warning {
    color: $warning;
    border-color: $warning;

    &:hover,
    &:active,
    &:focus {
      color: #fddb3e;
      border-color: #fddb3e;
    }
  }

  &.mbz-btn-danger {
    color: $danger;
    border-color: $danger;

    &:hover,
    &:active,
    &:focus {
      color: #fc5a40;
      border-color: #fc5a40;
    }
  }

  &.mbz-btn-dark {
    color: $dark;
    border-color: $dark;

    &:hover {
      color: #434343;
      border-color: #434343;
    }
  }

  &.mbz-btn-blue {
    border-color: $blue;
    color: $blue;

    &:hover {
      color: #4a83c1;
      border-color: #4a83c1;
    }
  }

  &.disabled,
  &[disabled] {
    opacity: 0.6;
    filter: alpha(opacity=60);
    pointer-events: none;
    touch-action: none;
    -ms-touch-action: none;
    cursor: default;
  }

  &.mbz-btn-secondary {
    background-color: transparent;
    border-color: $secondary;
    color: $secondary;

    &:hover,
    &:active,
    &:focus {
      color: #999ea4;
      border-color: #999ea4;
    }
  }
}

.mbz-btn-ext {
  // padding: 15px 26px;
  font-size: 16px;
  line-height: 1.3333333;
  border-radius: $border-radius-xl;
}

.mbz-btn-xxl {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: pre-line;
  max-height: 74.4px;
  // padding: 25px 20px;
  font-size: 16px;
  // line-height: (20 / 14);
  border-radius: $border-radius-md;
  border-width: 1px;
}

.mbz-btn-xl {
  // padding: 12px 16px;
  font-size: 15px;
  // line-height: (20 / 14);
  border-radius: $border-radius-md;
  border-width: 1px;

  &-min-width-100 {
    @extend .mbz-btn-xl;
    min-width: 100px;
  }

  &-min-width-150 {
    @extend .mbz-btn-xl;
    min-width: 150px;
  }
}

.mbz-btn-lg {
  // padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: $border-radius-xl;
}

.mbz-btn-sm {
  // padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: $border-radius-sm;
}

.mbz-btn-xs {
  border-radius: $border-radius-sm;
  font-size: 12px;
  line-height: 1.5;
  // padding: 1px 7px;
}
