@use '../variables';

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.centered-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

textarea {
  resize: vertical;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled) {
  cursor: pointer;
}

button,
select {
  text-transform: none;
}

[role='button'] {
  cursor: pointer;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

p {
  margin: 0 0 10px;
}

ul,
ol ul,
ul ol,
ol ol {
  margin: 0;
}

a {
  color: #337ab7;
  text-decoration: underline;
}

a:hover {
  color: #23527c;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

img,
svg {
  vertical-align: middle;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

dl {
  margin-top: 0;
  margin-bottom: variables.$line-height-computed;
}

dt,
dd {
  line-height: variables.$line-height-base;
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 0;
}
