<ul class="nav nav-tabs">
  <li class="active">
    <a class="">Tab Link Active</a>
  </li>

  <li class="active">
    <a class="hasError">Tab Link Active Error</a>
  </li>

  <li class="">
    <a class="">Tab Link Default</a>
  </li>

  <li class="">
    <a class="disabled">Tab Link Disabled</a>
  </li>

  <li class="">
    <a class="hasError">Tab Link hasError</a>
  </li>
</ul>

<div class="nav-tabs-content nav-tabs-content-bordered">
  <h4 class="nav-tabs-content-title">Content Title</h4>
</div>

<br />
<br />
<br />

<ul class="nav nav-tabs nav-tabs-white">
  <li class="active">
    <a class="">Tab Link Active</a>
  </li>

  <li class="active">
    <a class="hasError">Tab Link Active Error</a>
  </li>

  <li class="">
    <a class="">Tab Link Default</a>
  </li>

  <li class="">
    <a class="disabled">Tab Link Disabled</a>
  </li>

  <li class="">
    <a class="hasError">Tab Link hasError</a>
  </li>
</ul>

<div class="nav-tabs-content nav-tabs-content-bordered">
  <h4 class="nav-tabs-content-title">Content Title</h4>
</div>

<br />
<br />
<br />

<ul class="nav nav-tabs nav-tabs-white dir-bottom">
  <li class="active">
    <a class="">Tab Link Active</a>
  </li>

  <li class="active">
    <a class="hasError">Tab Link Active Error</a>
  </li>

  <li class="">
    <a class="">Tab Link Default</a>
  </li>

  <li class="">
    <a class="disabled">Tab Link Disabled</a>
  </li>

  <li class="">
    <a class="hasError">Tab Link hasError</a>
  </li>
</ul>

<div class="nav-tabs-content nav-tabs-content-bordered">
  <h4 class="nav-tabs-content-title">Content Title</h4>
</div>



<br />
<br />
<br />

<ul class="nav nav-tabs nav-tabs-white dir-bottom sub-tabs">
  <li class="active">
    <a class="">Tab Link Active</a>
  </li>

  <li class="active">
    <a class="hasError">Tab Link Active Error</a>
  </li>

  <li class="">
    <a class="">Tab Link Default</a>
  </li>

  <li class="">
    <a class="disabled">Tab Link Disabled</a>
  </li>

  <li class="">
    <a class="hasError">Tab Link hasError</a>
  </li>
</ul>

<div class="nav-tabs-content nav-tabs-content-bordered">
  <h4 class="nav-tabs-content-title">Content Title</h4>
</div>