<ul class="nav-tabs has-background">
  <li><a class="nav-tab-link active">Active</a></li>
  <li><a class="nav-tab-link hasError">HasError</a></li>
  <li><a class="nav-tab-link">Default</a></li>
  <li><a class="nav-tab-link active hasError">Active HasError</a></li>
  <li><a class="nav-tab-link disabled">Disabled</a></li>
</ul>
<div class="nav-tabs-content">
  <h4 class="nav-tabs-content-title">Title</h4>
</div>
<br />
<ul class="nav-tabs">
  <li><a class="nav-tab-link active">Active</a></li>
  <li><a class="nav-tab-link hasError">HasError</a></li>
  <li><a class="nav-tab-link">Default</a></li>
  <li><a class="nav-tab-link active hasError">Active HasError</a></li>
  <li><a class="nav-tab-link disabled">Disabled</a></li>
</ul>
<div class="nav-tabs-content-bordered">
  <h4 class="nav-tabs-content-title">Title</h4>
</div>
<br />
<ul class="nav-tabs mbz-sub-tabs">
  <li><a class="mbz-sub-tab-link active">Active</a></li>
  <li><a class="mbz-sub-tab-link hasError">HasError</a></li>
  <li><a class="mbz-sub-tab-link">Default</a></li>
  <li><a class="mbz-sub-tab-link active hasError">Active HasError</a></li>
  <li><a class="mbz-sub-tab-link disabled">Disabled</a></li>
</ul>
<div class="nav-tabs-content-bordered">
  <h4 class="nav-tabs-content-title">Title</h4>
</div>
