<ng-container *ngFor="let type of types; let i = index">
  <ng-container *ngFor="let size of sizes; let i = index">
    <div>
      <app-button
        id="buttonElement{{ i }}"
        label="{{ type }} {{ size }}"
        type="{{ type }}"
        size="{{ size }}"
      ></app-button>
    </div>
    <div (click)="copyText(type, size)" class="copy">Copy</div>
    <div *ngIf="fallback" class="fallback-success">Copied</div>
  </ng-container>
</ng-container>

<ng-container *ngFor="let type of types; let i = index">
  <ng-container *ngFor="let size of sizes; let i = index">
    <app-button
      #buttonElement
      label="{{ type }} {{ size }}"
      type="{{ type }}"
      size="{{ size }}"
      outline
    ></app-button>

    <div (click)="copyText(type, size, true)" class="copy">Copy</div>
    <div *ngIf="fallback" class="fallback-success">Copied</div>
  </ng-container>
</ng-container>
