<div>
  <ng-container *ngFor="let type of types; let i = index">
    <ng-container *ngFor="let size of sizes; let i = index">
      <app-button
        id="buttonElement{{ i }}"
        label="{{ type }} {{ size }}"
        type="{{ type }}"
        size="{{ size }}"
        (click)="copyText(type, size)"
      ></app-button>
    </ng-container>
  </ng-container>
</div>
<ng-container *ngFor="let type of types; let i = index">
  <ng-container *ngFor="let size of sizes; let i = index">
    <app-button
      #buttonElement
      label="{{ type }} {{ size }}"
      type="{{ type }}"
      size="{{ size }}"
      outline
      (click)="copyText(type, size, true)"
    ></app-button>
  </ng-container>
</ng-container>
