<div class="demo-wrapper">
  <h1>Buttons Kit</h1>

  <ng-container *ngFor="let type of types; let i = index">
    <div>
      <h3>Type: {{ type }}</h3>
      <div class="grid">
        <ng-container *ngFor="let size of sizes; let i = index">
          <div class="grid-row">
            <app-button
              id="buttonElement{{ i }}"
              label="{{ type }} {{ size }}"
              type="{{ type }}"
              size="{{ size }}"
              (click)="copyText(type, size)"
            ></app-button>

            <app-button
              id="buttonElement{{ i }}"
              label="{{ type }} {{ size }} outlined"
              type="{{ type }}"
              size="{{ size }}"
              (click)="copyText(type, size, true)"
              outline
            ></app-button>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>

  <!-- <div class="demo-content">
    <div>
      <ng-container *ngFor="let type of types; let i = index">
        <ng-container *ngFor="let size of sizes; let i = index">
          <div>
            <!-- <h3>Type: {{ type }}</h3> -->
  <!-- 
          <div style="display: grid; gap: 10px; margin: 10px 0;">
            
          </div> -->

  <!-- <h3>Size</h3> -->
  <!-- <div style="display: flex; gap: 30px">
              <div style="display: grid; gap: 15px;">
                <app-button
                  id="buttonElement{{ i }}"
                  label="{{ type }}"
                  type="{{ type }}"
                ></app-button>

                <app-button
                  id="buttonElement{{ i }}"
                  label="{{ type }} outlined"
                  type="{{ type }}"
                  outline
                ></app-button>
              </div>

              <div style="display: grid; gap: 10px;">
                <app-button
                  id="buttonElement{{ i }}"
                  label="Button {{ size }}"
                  type="{{ type }}"
                  size="{{ size }}"
                ></app-button>

                <app-button
                  id="buttonElement{{ i }}"
                  label="{{ size }} outlined"
                  type="{{ type }}"
                  size="{{ size }}"
                  outline
                ></app-button>
              </div>
            </div> -->
</div>

<!-- <ng-container *ngFor="let size of sizes; let i = index"> -->
<!-- <h3>Sizes: {{ size }}</h3> -->

<!-- <app-button
            id="buttonElement{{ i }}"
            label="Button {{ size }}"
            type="{{ type }}"
            size="{{ size }}"
          ></app-button> -->

<!-- <app-button
            id="buttonElement{{ i }}"
            label="Button {{ size }}"
            type="{{ type }}"
            size="{{ size }}"
            outline
          ></app-button> -->
<!-- </ng-container> -->
<!-- </ng-container> -->
<!-- </div> -->

<!-- <div></div> -->
<!-- </div> -->

<!-- <ng-container *ngFor="let type of types; let i = index">
  <ng-container *ngFor="let size of sizes; let i = index">
    <app-button
      #buttonElement
      label="{{ type }} {{ size }}"
      type="{{ type }}"
      size="{{ size }}"
      outline
      (click)="copyText(type, size, true)"
    ></app-button>
  </ng-container>
</ng-container> -->
<!-- </div>  -->
<!-- </div> -->
<!--  -->
